a.see-all {
  display: block;
  overflow: hidden;
  margin: 10px;
  border: 1px solid #222;
  border-radius: 4px;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  width: 100%;
  color: #222;
}

a.see-all::after {
  content: '';
  border-left: 5px solid #222;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
