.hide > div:nth-child(n + 5) {
  display: none;
}

.link {
  text-decoration: "none";
  color: var(--primary);
  top: 15px;
  right: 3px;
}

.section {
  display: block;
  overflow: hidden;
  height: 100%;
  background: #000;
  padding-left: 240px;
  background-color: #ffaad0;
}
