.skeleton-product {
  height: 27rem;
  padding: 0 2px;
}

@media only screen and (max-width: 600px) {
  .skeleton-product {
    width: 100%;
    height: auto;
  }

  .skeleton-product > span:first-child {
    height: 13rem !important;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .skeleton-product {
    margin: 1rem 0;
    height: 20.5rem;
  }
}
